.rightbar-friend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbar-online{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid wheat;
}

.rightbar-username{
   font-weight: 500; 
}
